<module>
	<rawname>yealink_epm</rawname>
	<name>Yealink Endpoint Manager</name>
	<version>1.0.0.7</version>
	<publisher>HG</publisher>
	<license>GPLv3</license>
	<type>setup</type>
	<category>Settings</category>
	<description>Custom Yealink Endpoint Manager and Provisioning Module</description>
	<menuitems>
		<yealink_epm>Yealink Endpoint Manager</yealink_epm>
	</menuitems>
	<supported>
		<version>15.0</version>
		<version>16.0</version>
		<version>17.0</version>
	</supported>
	<location>local</location>
</module>